<nav>
    <ul>
        <%menu.forEach(elt=>{%>
        
        <li>
            <a href="<%=elt.url%>">
                <%=elt.name%>
            </a>
        </li>
       
        <%})%>
    </ul>
    <img class="vector" src="Vector.png" width="100px" alt="">
</nav>