<div class="title">
    <h5>RESTAURANT</h5>
    <h1>hungry people</h1>
    <img class="line" src="line.png" alt="">
</div>
<div class="buttons">
    <a class="yellow" href="#">Book table</a>
    <a class="white" href="#">Explore</a>

</div>
<img class="btn_down" src="down-btn.png" alt="">
<img class="social" src="Social.png" alt="">
<img class="hours" src="hours.png" alt="">