<%-include('./partials/head')%>
<body>
    
    
<header>
    <%-include('./partials/navigation')%>
    <%-include('./partials/title')%>
    <img class="fehler" src="Sailor.png" alt="">
    <%-include('./partials/footer')%>
    
</header>

</body>

</html>