<%-include('./partials/head')%>
<body>
    
    <header>

    <%-include('./partials/navigation')%>
    <%-include('./partials/title')%>
</header>
   
<section class="hero">
    <div class="about_sec">
    <article class="text">
        <h1 class="about_us">about us</h1>
        <img class="line" src="line.png" alt="">
        <h3 class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis at velit maximus, molestie est a, tempor magna.</h3>
        <p class="thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            Duis at velit maximus, molestie est a, tempor magna.</p>
           

    </article>
    <img class="wood" src="Group.png" alt="">
</div>
</section>
<%-include('./partials/footer')%>
</body>

</html>