<%-include('./partials/head')%>
<body>
    
    <header>

    <%-include('./partials/navigation')%>
    <%-include('./partials/title')%>
    
</header>
<section class="booking">
    <article>
<h1 class="black">Book a table</h1>
<img class="line" src="line.png" width="40px" alt="">
<div class="form">
<form action="">
    <input type="text" name="" placeholder="Name" id="">
    <input type="text" name="" placeholder="Phone" id="">
    <input type="email" name="" placeholder="Email" id="">
    <input type="number" name="" placeholder="People" id="">
   <input type="date" name="" placeholder="Date(mm/dd)" id="">
   <input type="time" name="" placeholder="Time" id="">
   <button class="btn_book">Book now</button>
</form>
</div>

</article>
<img src="img.png" alt="">
</section>
<%-include('./partials/footer')%>
</body>

</html>