<%-include('./partials/head')%>
<body>
    
    <header>

    <%-include('./partials/navigation')%>
    <%-include('./partials/title')%>
    
</header>
<section class="gallerie">
    <h5 class="specials">private events</h5>
    <article class="eis">
        <div class="eis_quadrat">
        <img class="eis_pic" src="ring.png" alt="">
        <img class="quadrat" src="quadrat.png" alt="">
        <img class="wedding_tag" src="weddings" alt="">
    </div>
    <div class="cheers">
        <img class="table" src="wedding.png" alt="">
     
    </div>

    </article>

</section>
<%-include('./partials/footer')%>
</body>

</html>