<%-include('./partials/head')%>
<body>
    
    
<header>
    <%-include('./partials/navigation')%>

    <div class="title">
    <h5>RESTAURANT</h5>
    <h1>hungry people</h1>
    <img class="line" src="line.png" alt="">
</div>
<div class="buttons">
    <a class="yellow" href="#">Book table</a>
    <a class="white" href="#">Explore</a>

</div>
<img class="btn_down" src="down-btn.png" alt="">
<img class="social" src="Social.png" alt="">
<img class="hours" src="hours.png" alt="">

</header>
<!-- /////////////////////////////////////////////////////////////////////////// -->
<section class="hero">
    <div class="about_sec">
    <article class="text">
        <h1 class="about_us">about us</h1>
        <img class="line" src="line.png" alt="">
        <h3 class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis at velit maximus, molestie est a, tempor magna.</h3>
        <p class="thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            Duis at velit maximus, molestie est a, tempor magna.</p>
           

    </article>
    <img class="wood" src="Group.png" alt="">
</div>
</section>
<footer>
    <h4>© Copyright Mindblister 2019</h4>
</footer>
    
   

</body>

</html>