<%-include('./partials/head')%>
<body>
    
    <header>

    <%-include('./partials/navigation')%>
    <%-include('./partials/title')%>
    
</header>
<section class="gallerie">
    <h5 class="specials">Our team</h5>
    <article class="eis">
        <div class="eis_quadrat">
        <img class="eis_pic" src="team.png" alt="">
        <img class="quadrat" src="quadrat.png" alt="">
    </div>
    <div class="pancakes">
        <h1 class="white_text">master chef</h1>
        <img class="line" src="line.png" alt="">
        <h3 class="white_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
             Duis at velit maximus, molestie est a, tempor magna.</h3>
             <p class="white_p"> Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere.
               Morbi non ultrices ligula. <br> Sed dictum, enim sed ullamcorper feugiat, <br>
               dui odio vehicula eros, a sollicitudin lorem quam nec sem. <br>
               Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>

    </div>

    </article>

</section>
<%-include('./partials/footer')%>
</body>

</html>